<footer class="footer">
    <nav>
        <ul class="footer__menu">
            <li><a class="footer__menu--link" href="#" title="Publicity">Publicity</a></li>
            <li><a class="footer__menu--link" href="#" title="Business">Business</a></li>
            <li><a class="footer__menu--link" href="#" title="About">About</a></li>
            <li><a class="footer__menu--link" href="#" title="How search works">How search works</a></li>
        </ul>
    </nav>
    <nav>
        <ul class="footer__menu">
            <li><a class="footer__menu--link" href="#" title="Privacy">Privacy</a></li>
            <li><a class="footer__menu--link" href="#" title="Conditions">Conditions</a></li>
            <li><a class="footer__menu--link" href="#" title="Preferences">Preferences</a></li>
        </ul>
    </nav>
</footer>