<header class="header">
    <nav>
        <ul class="header__nav">
            <li><a class="header__nav--link" href="" title="Gmail">Gmail</a></li>
            <li><a class="header__nav--link" href="" title="Images">Images</a></li>
            <li><a class="header__nav--icon" href="" title="Settings"><i class="fa-solid fa-grip fa-lg"></i></a></li>
            <li><a class="header__nav--img" href="#" title="User"><i class="fa-solid fa-user"></i></a></li>
        </ul>
    </nav>
</header>