<main class="main">
    <section class="main__logo">
        <img class="main__logo--img" src="./assets/images/logo.png" alt="Logo Google">
    </section>

    <section>
        <form class="main__form" action="" method="post">
            <label for="search"></label>
            <input class="main__form--input" type="text" id="search" name="search" placeholder="Tap your search here...">
            <div class="main__form--icons">
                <i class="fa-solid fa-magnifying-glass"></i>
                <i class="fa-solid fa-microphone"></i>
            </div>
        </form>
    </section>

    <section class="main__buttons">
        <a class="main__buttons--item" href="#" title="Search">Search in Google</a>
        <a class="main__buttons--item itemTwo" href="#" title="Feeling Lucky">I'm feeling lucky</a>
    </section>
</main>